header {
    background-color: #050505;
    color: white;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: 'Caprasimo', cursive;

}
.contenido {
    width: 1000px;
    margin: 10px;
    padding: 50px;
    border: 1px;
    color: aliceblue;
    list-style: none;
}
.color-verde{
    color: green;
}
.img__logo{
    
    width: 100px;
    height: 50px ;
    
}
.img__contenido{
    width: 400px; 
    height: 250px;
    border-radius: 20px;
}
.contenido__titulo{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(219, 112, 11);
    text-align: justify; 
}
.contenido__texto{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify; 
}
.cuestionario{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(241, 237, 237);
    text-align: justify;
}
.img__1cambiardisco{
    width: 1000px;
    height: 500px;
}
.img__2cambiardisco{
    width: 500px;
    height: 500px;
}
.cuidados{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(219, 112, 11);
    text-align: justify; 
}
.botton-div{ /*dibujando el boton*/
    width: 200px;
    height: 200px;
    padding: 15px;
    border: 5px solid gray;
    margin: 10px;
}
.botton-div__texto{
    font-size: 14px;
    color: blue;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    font-size: 14px;
    color: rgb(245, 241, 241);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    width: 1000px;
    margin: 10px;
    padding: 50px;
    border: 1px;
    color: aliceblue;
    list-style: none;
    text-decoration: none;
    
}
#footer{
    justify-content: center;
    display: flex;
}
.contenido{
    background-color: black;
    list-style: none;
    text-decoration: none;
}
.menu__links__texto{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify;   
}
.menu__tendencia{
    text-decoration: none;
    list-style: none;
}
.menu__links{
    list-style: none;
}
.contenido__texto{
    list-style: none;
}